nav {
    background-color: black;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
}

.socials {
    padding-top: 15px;
    display: inline-block;
    width: min-content;
    padding-left: 0;
}

h1 {
    margin-right: 20%;
    margin-left: 5%;
}

/*changes default colour of danger class*/
.btn-danger {
    background-color: #EC030F;
}

.danger {
    color: #EC030F;
}

ul li {
    padding: 7px;
}

.fa-brands, .fa-bars {
    color: white;
}

.banner {
    background-image: url(../images/homepage-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
}

.banner div {
 margin: 0 auto;
 text-align: center;
 color: white;
 padding-top: 50px;
}

img {
    display: inline-block;
    max-width: 640px;
}

.about-center {
    display: inline-block;
    text-align: center;
}

main .fa-brands {
    color: #EC030F;
}
