.skip-link {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .skip-link a {
    position: absolute;
    top: -3rem;
    padding: .1em 1em;
  } 
  
  .skip-link a:focus {
    top: 0;
  } 

nav {
    background-color: black;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
}

.socials {
    padding-top: 15px;
    display: inline-block;
    width: min-content;
    padding-left: 0;
}

h1 {
    margin-right: 20%;
    margin-left: 5%;
    font-size: 2rem;
}

h1, h2 {
    font-family: 'PT Serif', serif;
}

h2 {
    font-size: 3rem;
}

/*changes default colour of danger class*/
.btn-danger {
    background-color: #EC030F;
}

.danger {
    color: #EC030F;
}

.text-danger {
    color: #EC030F;
}

.bg-danger {
    background-color: #EC030F;
}

ul li {
    padding: 7px;
}

.fa-brands, .fa-bars {
    color: white;
}

.banner {
    background-image: url(../images/homepage-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.banner div {
 margin: 0 auto;
 text-align: center;
 color: white;
 padding-top: 50px;
}

img {
    display: inline-block;
    max-width: 640px;
}

.about-center {
    display: inline-block;
    text-align: center;
}

main .fa-brands {
    color: #EC030F;
}

form {

}

@media screen and (min-width: 769px){
    body {
        font-size: large;
    }
    
    .about-content {
        text-align: start;
        padding: 20px;
    }

    input {
        width: 70%;
    }
}
