nav {
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
}

.socials {
    padding-top: 2.5%;
}

h1 {
    margin-right: 20%;
    margin-left: 5%;
}

ul li {
    padding-left: 20px;
}

.fa-brands, .fa-bars {
    color: white;
}